{% extends 'base.html' %}

{% block styles %}
    {{ super() }}

    .flexContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px 30px;
        max-height: 100vh;
        max-width: 80%
    }

    .marginOverride {
        margin: 0;
    }

    .break {
        flex-basis: 100%;
        height = 0;
    }

    .breakForColumns {
        flex-basis: 100vh;
        width: 0;
    }

    .hidden {
        display: none;
    }

    .hero {
        font-size: 3em;   /* makes the text bigger */
        font-family: 'Ubuntu', sans-serif;
    }

    .innerContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        flex-wrap: wrap;
        gap: 15px 10px;
        align-items: stretch;
        max-height: 80vh;
        justify-content: flex-start;
    }

    .rowContainer {
        display: flex;
        gap: 10px 10px;
        align-items: baseline;
    }

    .alignLabels {
        min-width: 75px;
    }

{% endblock styles %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <form method="POST" class="form-register flexContainer" style="color:white">
            {{ form.hidden_tag() }}

            <img src="../static/images/genlogo.png" alt="">
            <div class="breakForColumns"></div>

            <div class="innerContainer">
                <h1 class="h3 hero">
                    Let the fittest win!
                </h1>
                <div class="break"></div>

                <div class="rowContainer">
                    {% for rdo_choice in form.rdo_gen_strategy %}
                        {{ rdo_choice(class="marginOverride gen_strategy_class") }} {{ rdo_choice.label(class="marginOverride") }}
                    {% endfor %}
                </div>
                <div class="break"></div>

                <div class="rowContainer">
                {{ form.tickers.label(class="tickers alignLabels") }}
                {{ form.tickers(class="form-control tickers", placeholder="Comma separated list of tickers") }}

                {{ form.tickers_num.label(class="tickers_num hidden alignLabels") }}
                {{ form.tickers_num(class="form-control tickers_num hidden", placeholder="Number of tickers") }}
                </div>

                <div class="break"></div>

                <div class="rowContainer">
                    {{ form.start_date.label(class="alignLabels") }}
                    {{ form.start_date() }}

                    {{ form.end_date.label(class="alignLabels") }}
                    {{ form.end_date() }}
                </div>

                <div class="break"></div>

                {{ form.submit(class="btn btn-lg btn-block btn-primary flexItem") }}
            </div>
        </form>

        {% include 'results.html' %}

        {% if show_results_modal %}
          <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const results_modal = new bootstrap.Modal(document.getElementById('resultsModal'), {});
                    results_modal.show();
                });
          </script>
        {% endif %}

    </div>
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock scripts %}

